<div class="planresult">
  <% if @groups %>
      <% count=1%>
      <table align="center" width="800">
        <tr>
          <th>No.</th>
          <th>Group Name</th>
          <th>Num People</th>
          <!--<th>Edit</th>-->
          <th>Delete</th>
          <th>Show Detail</th>
        </tr>
        <% @groups.each do |group| %>
            <tr>
              <form method="post">
                <input type="hidden" name="group_name" value="<%= group[:name] %>"/>
              </form>
              <td><%= count%></td>
              <td text-align="left"><%= group[:name] %></td>
              <td text-align="left"><%= group[:num_people] %></td>
              <!--<td text-align="left"><button onclick="edit_group(this)" class="btn btn-xs btn-primary">Edit</button></td>-->
              <td text-align="left"><button onclick="delete_group(this)" class="btn btn-xs btn-primary">Delete</button></td>
              <td text-align="left"><button onclick="show_detail(this)" class="btn btn-xs btn-primary">More</button></td>
              <% count +=1%>
            </tr>
        <%end%>
      </table>

  <% else %>
      <div align="center">
          <p>No Data found</p>
      </div>
  <%end%>

<div align="center">
  <button onclick="location.href = '/groups/new'" class="btn btn-primary">Create New Group</button>
</div>

</div>

<script>
  function delete_group(delete_button) {
      var form = $(delete_button).parent().parent().find("form");
      form.attr('action', "/group/delete");
      form.submit();
  }

//  function edit_group(edit_button) {
//      var form = $(edit_button).parent().parent().find("form");
//      form.attr('action', "/group/edit_page");
//      form.submit();
//  }

  function show_detail(show_button) {
      var form = $(show_button).parent().parent().find("form");
      form.attr('action', "/group/show_detail");
      form.attr('method', "get");
      form.submit();
  }
</script>

